<div id="container" *ngIf="movie">

    <div id="left-column" class="card">
        <img id="movie-image" src="http://localhost:8000/{{ movie.image }}" alt="Imagen de la película">
        <div class="card-body">
            <h2 class="card-title">{{ movie.title }}</h2>
            <p class="card-text">{{ movie.description }}</p>
            <p class="card-text"><strong>Reparto:</strong> {{ movie.actors }}</p>
            <p class="card-text"><strong>Categoría:</strong> {{ movie.categories }}</p>
        </div>
    </div>


    <div id="right-column">
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="info-rectangle">
            <h3>Teatros</h3>
            <p>{{ movie.theater }}</p>
        </div>
       
    </div>

</div>

<div *ngIf="!movie">
    <p>Cargando detalles de la película...</p>
</div>