<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/categories">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Categories</h5>
          <p class="card-text">Manage your categories here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/actors">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Actors</h5>
          <p class="card-text">Manage your actors here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/directors">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Directors</h5>
          <p class="card-text">Manage your directors here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/offers">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Offers</h5>
          <p class="card-text">Manage your offers here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/theaters">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Theater</h5>
          <p class="card-text">Manage your theaters here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/movies">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Movie</h5>
          <p class="card-text">Manage your movies here</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card" routerLink="admin/cinemas">
        <div class="card-body">
          <h5 class="card-title text-center text-primary">Cinemas</h5>
          <p class="card-text">Manage your Cinemas here</p>
        </div>
      </div>
    </div>
  </div>
</div>