
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --primary-color: #026467;
    --secondary-color: #E5F5EA;
    --body-text-color: #596392;
    --navbar-footer-color: #f9f9f9;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: var(--body-text-color);
}