.main-image {
    height: 310px;
    background: url('https://images.pexels.com/photos/436413/pexels-photo-436413.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') center center/cover no-repeat;
}

.featured-section{
    background-color: white;
}

