<section class="main-image">
    <img src="" alt="">
</section>

<section class="featured-section">
    <div class="container featured-movies">
        <div class="row">
            <h1 class="display-4">Bienvenido a nuestra página</h1>
          </div>
        <div class="row">
            <app-movie-card></app-movie-card>
        </div>
    </div>
</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Movies</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nihil, neque.</p>
    </div>

    <div class="row mb-4">
        <app-movie-card></app-movie-card>
    </div>
</section>