<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Add Actors</h5>
                </div>
                <div class="card-body">
                    <form class="input-group mb-3">
                        <input id="actorName" type="text" class="form-control" id="actorName" placeholder="Enter the actor name here" [formControl]="actorName" >
                    </form>
                    <div class="input-group-append justify-content-center">
                        <button class="btn btn-secondary" (click)="onSubmitCreate()">Add Actors</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4">
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Actor name</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let actor of actors">
                    <th scope="row"> {{ actor._id }}</th>
                    <td>{{ actor.actorName }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-primary" (click)="onSubmitUpdate(actor._id)">Edit</button>
                            <button class="btn btn-danger" (click)="onSubmitDelete(actor._id)">Delete</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>