<div class="container mt-4">
    <div class="card">
      <img src="https://images.pexels.com/photos/11879973/pexels-photo-11879973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" alt="Placeholder Image">
      <div class="card-body">
        <h5 class="card-title">Título de la Película</h5>
        <p class="card-text">Descripción de la película. Puedes agregar más detalles sobre la trama, actores, etc.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Fecha de lanzamiento: 01/01/2023</li>
      </ul>
    </div>
</div>