<div class="bg-theme p-5">
    <h2 class="text-white">All mvoives here</h2>
    <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magni.</p>
</div>

<section class="container mt-5">
    <div class="row mb-4">
        <div class="col-md-4 mt-3">
            <app-movie-card></app-movie-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-movie-card></app-movie-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-movie-card></app-movie-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-movie-card></app-movie-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-movie-card></app-movie-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-movie-card></app-movie-card>
        </div>
    </div>
</section>